<a href="https://colab.research.google.com/github/ManishGoud561/bookish-chainsaw/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PROGRAM 1

In [ ]:
a = 10
b = 20
print("Sum =", a + b)

Sum = 30

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Sum =", a + b)

Enter first number: 4
Enter second number: 5
Sum = 9

In [ ]:
with open("single.txt") as f:
    a = int(f.readline())
    b = int(f.readline())
print("Sum =", a + b)

Sum = 47

In [ ]:
with open("multiple.txt") as f:
    for line in f:
        a, b = map(int, line.split())
        print("Sum =", a + b)

Sum = 36
Sum = 18
Sum = 36

program 2

In [ ]:
a, b = 20, 10
print("Difference =", a - b)

Difference = 10

In [ ]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
print("Difference =", a - b)

Enter a: 7
Enter b: 9
Difference = -2

In [ ]:
with open("single.txt") as f:
    a = int(f.readline())
    b = int(f.readline())
print("Difference =", a - b)

Difference = -9

In [ ]:
with open("multiple.txt") as f:
    for line in f:
        a, b = map(int, line.split())
        print("Difference =", a - b)

Difference = -16
Difference = 12
Difference = 18

program 3

In [ ]:
a, b = 5, 4
print("Product =", a * b)

Product = 20

In [ ]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
print("Product =", a * b)

Enter a: 5
Enter b: 8
Product = 40

In [ ]:
with open("single.txt") as f:
    a = int(f.readline())
    b = int(f.readline())
print("Product =", a * b)

Product = 532

In [ ]:
with open("multiple.txt") as f:
    for line in f:
        a, b = map(int, line.split())
        print("Product =", a * b)

Product = 260
Product = 45
Product = 243

program 4

In [ ]:
a, b = 20, 5
print("Quotient =", a / b)

Quotient = 4.0

In [ ]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
print("Quotient =", a / b)

Enter a: 6
Enter b: 3
Quotient = 2.0

In [ ]:
with open("single.txt") as f:
    a = int(f.readline())
    b = int(f.readline())
print("Quotient =", a / b)

Quotient = 0.6785714285714286

In [ ]:
with open("multiple.txt") as f:
    for line in f:
        a, b = map(int, line.split())
        print("Quotient =", a / b)

Quotient = 0.38461538461538464
Quotient = 5.0
Quotient = 3.0

program 5

In [ ]:
n = 15.6
print("Even" if n % 2 == 0 else "Odd")

Odd

In [ ]:
n = int(input("Enter a num:"))
print("Even" if n % 2 == 0 else "Odd")

Enter a num:6
Even

In [ ]:
with open("single.txt") as f:
    n = int(f.readline())
print("Even" if n % 2 == 0 else "Odd")

Odd

In [ ]:
with open("multiple.txt") as f:
    for line in f:
        n = int(line.split()[0])
        print("Even" if n % 2 == 0 else "Odd")

Even
Odd
Odd

program 6

In [ ]:
a, b = -108, 41
print(max(a, b))

41

In [ ]:
a = int(input("Enter a:"))
b = int(input("Enter b:"))
print(max(a, b))

Enter a:6
Enter b:7
7

In [ ]:
with open("single.txt") as f:
    a = int(f.readline())
    b = int(f.readline())
print(max(a, b))

28

In [ ]:
with open("multiple.txt") as f:
    for line in f:
        a, b = map(int, line.split())
        print(max(a, b))

26
15
27

program 7

In [ ]:
n = 5
fact = 1
for i in range(1, n+1):
    fact *= i
print(fact)

120

In [ ]:
n = int(input("Enter a num:"))
fact = 1
for i in range(1, n+1):
    fact *= i
print(fact)

Enter a num:6
720

In [ ]:
with open("single.txt") as f:
    n = int(f.readline())
fact = 1
for i in range(1, n+1):
    fact *= i
print(fact)

121645100408832000

In [ ]:
with open("multiple.txt") as f:
    for line in f:
        n = int(line.split()[0])
        fact = 1
        for i in range(1, n+1):
            fact *= i
        print(fact)

3628800
1307674368000
10888869450418352160768000000

program 8

In [ ]:
n = 11
flag = True
for i in range(2, n):
    if n % i == 0:
        flag = False
        break
print("Prime" if flag else "Not Prime")

Prime

In [ ]:
n = int(input("Enter a num:"))
flag = True
for i in range(2, n):
    if n % i == 0:
        flag = False
        break
print("Prime" if flag else "Not Prime")

Enter a num:6
Not Prime

In [ ]:
with open("single.txt") as f:
    n = int(f.readline())

flag = True
for i in range(2, n):
    if n % i == 0:
        flag = False
        break
print("Prime" if flag else "Not Prime")

Prime

In [ ]:
with open("multiple.txt") as f:
    for line in f:
        n = int(line.split()[0])
        flag = True
        for i in range(2, n):
            if n % i == 0:
                flag = False
                break
        print("Prime" if flag else "Not Prime")

Not Prime
Not Prime
Not Prime

program 9

In [ ]:
n = 5
a, b = 0, 1
for i in range(n):
    print(a, end=" ")
    a, b = b, a+b
print()

0 1 1 2 3

In [ ]:
n = int(input("Enter a num:"))
a, b = 0, 1
for i in range(n):
    print(a, end=" ")
    a, b = b, a+b
print()

Enter a num:6
0 1 1 2 3 5

In [ ]:
with open("single.txt") as f:
    n = int(f.readline())

a, b = 0, 1
for i in range(n):
    print(a, end=" ")
    a, b = b, a+b
print()

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584

In [ ]:
with open("multiple.txt") as f:
    for line in f:
        n = int(line.split()[0])
        a, b = 0, 1
        for i in range(n):
            print(a, end=" ")
            a, b = b, a+b
        print()

0 1 1 2 3 5 8 13 21 34
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393

program 10

In [ ]:
n = 1234
rev = 0
while n > 0:
    rev = rev * 10 + n % 10
    n //= 10
print(rev)

4321

In [ ]:
n = int(input("Enter a num:"))
rev = 0
while n > 0:
    rev = rev * 10 + n % 10
    n //= 10
print(rev)

Enter a num:8
8

In [ ]:
with open("single.txt") as f:
    n = int(f.readline())

rev = 0
while n > 0:
    rev = rev * 10 + n % 10
    n //= 10
print(rev)

91

In [ ]:
with open("multiple.txt") as f:
    for line in f:
        n = int(line.split()[0])
        rev = 0
        while n > 0:
            rev = rev * 10 + n % 10
            n //= 10
        print(rev)

1
51
72

program 11

In [ ]:
n = 121
temp = n
rev = 0
while n > 0:
    rev = rev * 10 + n % 10
    n //= 10
print("Palindrome" if temp == rev else "Not Palindrome")

Palindrome

In [ ]:
n = int(input("Enter a num:"))
temp = n
rev = 0
while n > 0:
    rev = rev * 10 + n % 10
    n //= 10
print("Palindrome" if temp == rev else "Not Palindrome")

Enter a num:7
Palindrome

In [ ]:
with open("single.txt") as f:
    n = int(f.readline())

temp = n
rev = 0
while n > 0:
    rev = rev * 10 + n % 10
    n //= 10
print("Palindrome" if temp == rev else "Not Palindrome")

Not Palindrome

In [ ]:
with open("multiple.txt") as f:
    for line in f:
        n = int(line.split()[0])
        temp = n
        rev = 0
        while n > 0:
            rev = rev * 10 + n % 10
            n //= 10
        print("Palindrome" if temp == rev else "Not Palindrome")

Not Palindrome
Not Palindrome
Not Palindrome